<ngx-spinner></ngx-spinner>


<div class="test">
        <a class="card" routerLink="async">async-await</a>
        <a class="card" routerLink="fromevent">From Event</a>
        <a class="card" routerLink="backButton">back button</a>
        <a class="card" routerLink="interval">Interval-timer</a>
        <a class="card" routerLink="of-from">Of-from</a>
        <a class="card" routerLink="toarray">To- array</a>
        <a class="card" routerLink="map">Map</a>
        <a class="card" routerLink="pluck">Pluck</a>
        <a class="card" routerLink="filter">Filter</a>
        <a class="card" routerLink="tap">Tap</a>
        <a class="card" routerLink="take">Take</a>
        <a class="card" routerLink="retry">Retry</a> <br><br>
        <a class="card" routerLink="debounceTime">Debounce-Time</a>
        <a class="card" routerLink="mergeMap">Merge-Map</a>
        <a class="card" routerLink="switchMap">switchMap</a>
        <a class="card" routerLink="skipwhile">skipwhile</a>
        <a class="card" routerLink="skip">skip</a>
    </div>
    <app-loader></app-loader>
<router-outlet></router-outlet>